{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post add</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <h1>post title</h1>
    </div>
    <div>
        <form name="post_add" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <input name="title" type="text">
            </div>
            <div>
                <input name="content" type="text">
                <input name="thumbnail" type="file">
            </div>
            <button type="submit">제출</button>
        </form>
    </div>
</body>
</html>